@import './colors.css';
.input-custom {
  border: 1px solid var(--primary);
}
.input-custom:focus {
  box-shadow: 0 0px 4px 0 var(--primary);
  border: 1px solid var(--primary);
}

.btn-custom {
  margin: auto;
  width: fit-content;
  background: white;
  color: var(--primary);
  font-weight: 600;

  border: none;
  border: 1px solid rgba(255, 255, 255, 0.0);
  transition-duration: 0.3s;
}

.btn-custom:hover {
  border: 1px solid white;
  background: rgba(32, 201, 151, 0.2);
}

.btn-custom:active {
  border: 1px solid white !important;
  background: var(--primary) !important;
}

.btn-outlined-custom {
  margin: auto;
  width: fit-content;
  background: rgba(255, 255, 255, 0);
  color: var(--primary);
  font-weight: 600;

  border: 1px solid var(--primary);
  transition-duration: 0.3s;
}

.btn-outlined-custom:hover {
  background-color: var(--primary);
  color: white;
  border-color: rgba(0, 0, 0, 0);
}

.btn-outlined-custom:active {
  border: 1px solid white !important;
  background: var(--primary) !important;
}

.link-custom {
  color: white;
}
.link-custom:hover {
  color: white;
}
.link-custom:active {
  color: var(--primary) !important;
}