@import '../../../styles/cards.css';

.users-wrap {
  padding: 10px 30px;
  .users-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-height), 1fr));
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
  }
}